# 1. Student Database

In [3]:
import pandas as pd

In [34]:
student_database = {
    "Names" : ["Thulasi","Hemanth","Jack","Pawan","Mouli"],
    "Age" : [19,20,20,20,20],
    "Python_marks" : [90,80,70,60,50],
    "Java":[50,56,78,89,None]
}

df = pd.DataFrame(student_database)
print(df)
print("TOPPER")
s = df.loc[df["Python_marks"].idxmax()]
print(s)

se = df.loc[df["Java"].idxmax()]
print(se)
print("SORT STUDENTS")
d = df.sort_values("Age",ascending=True)
print(d)
n = df.fillna(9999)
print(n)
df["Java"].fillna(df["Java"].sum(), inplace=True)
print(df)

     Names  Age  Python_marks  Java
0  Thulasi   19            90  50.0
1  Hemanth   20            80  56.0
2     Jack   20            70  78.0
3    Pawan   20            60  89.0
4    Mouli   20            50   NaN
TOPPER
Names           Thulasi
Age                  19
Python_marks         90
Java               50.0
Name: 0, dtype: object
Names           Pawan
Age                20
Python_marks       60
Java             89.0
Name: 3, dtype: object
SORT STUDENTS
     Names  Age  Python_marks  Java
0  Thulasi   19            90  50.0
1  Hemanth   20            80  56.0
2     Jack   20            70  78.0
3    Pawan   20            60  89.0
4    Mouli   20            50   NaN
     Names  Age  Python_marks    Java
0  Thulasi   19            90    50.0
1  Hemanth   20            80    56.0
2     Jack   20            70    78.0
3    Pawan   20            60    89.0
4    Mouli   20            50  9999.0
     Names  Age  Python_marks   Java
0  Thulasi   19            90   50.0
1  Hemanth   20            80   56.0
2     Jack   20            70   78.0
3    Pawan   20            60   89.0
4    Mouli   20            50  273.0

C:\Users\Thula\AppData\Local\Temp\ipykernel_10264\3238881736.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Java"].fillna(df["Java"].sum(), inplace=True)